<h1>Your cart</h1>

<ul class="cart-items">
  <%= for item <- @items do %>
    <li class="cart-item">
      <img class="cart-item__image" src="<%= item.book.image_url %>">
      <div class="cart-item__title">
        <span><%= item.book.title %>
      </div>
      
      <div class="cart-item__units">
        <div class="value-tag">
          <h2 class="value-tag__tittle">quantity</h2>
          <span class="value-tag__content">
            <div class="step minus">
              <%= link "-", to: cart_path(@conn, :delete, book_id: item.book_id), method: :delete %>
            </div>
            <%= item.quantity %>
            <div class="step plus">
              <%= link "+", to: cart_path(@conn, :create, book_id: item.book_id), method: :create %>
            </div>
          </span>
        </div>
      </div>

      <div class="cart-item__price"> 
        <div class="value-tag">
          <h2 class="value-tag__title">price</h2>
          <span class="value_tag__content">
            <%= format_price(item.book.price) %>
          </span>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div class="value-tag">
  <h2 class="value-tag__tittle">total</h2>
  <span class="value-tag__content"><%= format_price(@total) %></span>        
</div>

<%= link "Checkout", to: checkout_path(@conn, :new), class: "button button-primary" %>
