<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Book store for independant writers">
    <meta name="author" content="Manuel Ospina">

    <title>Welcome to Storex!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">  
            <%= if @is_admin do %>  
              <li><%= link "New Book", to: book_path(@conn, :new) %></li>
            <% end %>  

            <%= if @current_user do %>  
              <li><%= @current_user.full_name %></li>
              <li><%= link "log out", to: session_path(@conn, :delete), method: :delete %></li>
            <% else %>      
              <li><%= link "sign up", to: user_path(@conn, :new) %></li>
              <li><%= link "sign in", to: session_path(@conn, :new) %></li>
            <% end %>  

            <%= if items_count(@conn) do %>
              <li>
                <%= link to: cart_path(@conn, :show) do %>  
                cart <span class="badge"><%= items_count(@conn) %></span>
                <% end %>
              </li>  
            <% end %>  
          </ul>
        </nav>
        <!-- span class="logo"></span -->
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
